@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--mantine-font-family);
    scroll-behavior: smooth;
}

@layer utilities {
    .base-border {
        border: 0.0625rem solid var(--mantine-color-gray-3);
    }

    .sketch-border {
        border: 0.0625rem solid var(--mantine-color-dark-6);
    }
}

.glowy-bg {
    background-image:
        radial-gradient(10% 10% at 25% 10%, var(--bgGradientColor) 0%, transparent 100%),
        radial-gradient(10% 10% at 75% 75%, var(--bgGradientColor) 0%, transparent 100%),
        radial-gradient(8% 8% at 50% 20%, var(--bgGradientColor) 0%, transparent 100%),
        radial-gradient(12% 12% at 10% 80%, var(--bgGradientColor) 0%, transparent 100%),
        radial-gradient(6% 6% at 90% 50%, var(--bgGradientColor) 0%, transparent 100%),
        radial-gradient(15% 15% at 50% 90%, var(--bgGradientColor) 0%, transparent 100%);
}

.light-waitlist {
    background-color: var(--waitlistLightenedPrimaryColor);
    color: var(--waitlistDarkenedPrimaryColor);
}